/* DepsWidget */
DepsWidget {
    width: auto;
    height: 1;
}
#deps-bar {
    width: auto;
    height: 1;
}
DepsWidget #deps-add {
    width: 2;
    height: 1;
}
DepsWidget #deps-add:hover {
    background: $primary-darken-2;
}
#deps-tags {
    width: auto;
    height: 1;
}
