/* DragGhost */
DragGhost {
    layer: overlay;
    height: auto;
}
DragGhost CardWidget {
    margin-bottom: 0;
}

/* CardPlaceholder */
CardPlaceholder {
    width: 100%;
    height: 3;
    margin-bottom: 1;
    border: dashed $primary;
    background: $surface-darken-1;
}

/* ColumnPlaceholder */
ColumnPlaceholder {
    width: 1fr;
    min-width: 25;
    max-width: 25;
    height: 100%;
    border: dashed $primary;
    background: $surface-darken-1;
}
