name: Unit tests

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      # You can use PyPy versions in python-version.
      # For example, pypy2.7 and pypy3.9
      matrix:
        python-version: ["3.11"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build dev environment
        run: make dev
      - name: Configure git for tests
        run: |
          git config --global user.name "CI"
          git config --global user.email "ci@localhost"
      - name: Unit tests
        run: make test
